[submodule "TJU2440120_cv_hwk1"]
	path = TJU2440120_cv_hwk1
	url = git@github.com:licy-gh/TJU2440120_cv_hwk1.git
[submodule "TJU2440120_cv_hwk2"]
	path = TJU2440120_cv_hwk2
	url = git@github.com:licy-gh/TJU2440120_cv_hwk2.git
[submodule "TJU2440120_cv_hwk3"]
	path = TJU2440120_cv_hwk3
	url = git@github.com:licy-gh/TJU2440120_cv_hwk3.git
